* {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Times New Roman", Times, serif;
  --black: #000;
  --lightBlack: #616161;
  --white: #fff;
  --orange: #ff9000;
  --darkOrange: #b86800;
}
body {
  margin: 0;
  padding: 15px;
  min-height: 100%;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2,
h1,
p {
  padding: 0;
  margin: 0;
}
#main,
#forecast {
  padding: 5px 10px;
}

.conditionContainer {
  display: flex;
  align-items: center;
}
#forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
label {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
input {
  height: 30px;
  box-sizing: border-box;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  outline: none;
  margin-bottom: 5px;
}

/* Style for focused input elements */
input:focus {
  border-color: var(--orange);
}
#searchButton {
  align-self: flex-end;
  margin: 5px 5px;
}
#main {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.currentTemperature {
  font-size: 2.7rem;
}

#basic-data,
#additional-data {
  width: 80vw;
}
.cityCountryNameName {
  font-size: xx-large;
  padding: 0px 10px 10px 10px;
  margin-top: 13px;
}
#basic-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#additional-data {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
#additional-data p {
  padding: 8px 10px;
  border: 1px solid var(--lightBlack);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 21px;
}
#upper-bar {
  display: flex;
  margin: 10px;
  padding: 10px;
  gap: 35px;
}
.arrowContainer {
  display: flex;
  gap: 30px;
  margin-left: 10px;
}
#data-bar {
  margin-top: 15px;
  overflow-x: hidden;
  max-width: 85vw;
  display: flex;
  gap: 30px;
  align-items: center;
  transition: scroll 0.3s ease-in-out;
}
.dailyContainer,
.hourlyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}
.dailyConditionText,
.hourlyConditionText {
  font-size: 1rem;
  opacity: 0.6;
}
.dailyContainer p,
.hourlyContainer p {
  white-space: nowrap;
}
.dailyTemperatureHolder,
.hourlyTemperatureHolder {
  white-space: nowrap;
}
.leftArrow,
.rightArrow {
  border: 10px solid black;
  border-width: 15px 0 15px 23px;
  border-color: transparent transparent transparent var(--orange);
  border-radius: 3px;
}
.leftArrow {
  transform: rotate(180deg);
}
.leftArrow:hover,
.rightArrow:hover {
  border-color: transparent transparent transparent var(--darkOrange);
  cursor: pointer;
}

.convertButtonContainer {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.dailyButton,
.hourlyButton,
#searchButton,
.convertToFahrenheit,
.convertToCelsius {
  background-color: var(--orange);
  border-radius: 8px;
  border-style: none;
  color: var(--black);
  cursor: pointer;
  font-size: 1rem;
  height: 30px;
  padding: 6px 12px;
  transition: color 100ms;
}

.dailyButton:hover,
.hourlyButton:hover,
#searchButton:hover,
.dailyButton:active,
.hourlyButton:active,
#searchButton:active,
.convertToFahrenheit:active,
.convertToCelsius:active,
.convertToFahrenheit:hover,
.convertToCelsius:hover {
  background-color: var(--darkOrange);
}
.wrongInput {
  position: absolute;
  font-size: 0.84rem;
  margin-top: -4px;
}
.moreText {
  font-size: 0.8rem;
  opacity: 0.7;
  margin-top: -4px;
  margin-bottom: -7px;
}

@media (min-width: 860px) {
  form {
    flex-direction: row;
  }
}

@media (min-height: 880px) {
  #main {
    gap: 30px;
  }
  #additional-data {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    max-width: 870px;
  }
  #additional-data p {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
  }
  .convertButtonContainer {
    margin-top: 25px;
    margin-bottom: -10px;
  }
}
@media (min-height: 990px) {
  .dailyButton,
  .hourlyButton {
    width: 90px;
    height: 35px;
    font-size: 1.2rem;
  }
  .cityCountryNameName {
    font-size: 40px;
  }
  .timeDate {
    font-size: 21px;
  }
  .whetherCondition {
    font-size: 32px;
  }
  .currentTemperature {
    font-size: 4rem;
  }
  #additional-data p {
    padding: 10px 0px;
  }
  .dailyTemperatureHolder {
    font-size: 38px;
  }
  .dailyDateHolder {
    font-size: 21px;
  }
  .dailyConditionText {
    font-size: 21px;
  }
  .moreText {
    margin-bottom: -11px;
    font-size: 0.9rem;
  }
}
@media (max-height: 790px) {
  #main {
    gap: 0px;
    margin-top: -10px;
  }
}
@media (max-height: 690px) {
  .dailyContainer,
  .hourlyContainer {
    gap: 3px;
  }
  #data-bar {
    margin-top: 0;
  }
  .currentTemperature {
    margin-top: -7px;
  }
  #additional-data {
    margin-bottom: 0;
  }
  #additional-data p {
    padding: 4px 0px;
  }
}
