* {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  font-family: "Times New Roman", Times, serif;
  --black: #000;
  --lightBlack: #616161;
  --white: #fff;
  --orange: #ff9000;
  --darkOrange: #b86800;
}
body {
  margin: 0;
  padding: 15px;
  min-height: 100%;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2,
h1,
p {
  padding: 0;
  margin: 0;
}
#main,
#forecast {
  padding: 5px 10px;
}

.conditionContainer {
  display: flex;
  align-items: center;
}
#forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
label {
  font-size: 1.5rem;
}
input {
  height: 30px;
  font-size: 1.3rem;
}
#searchButton {
  align-self: flex-end;
  margin: 5px 5px;
}
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#basic-data,
#additional-data {
  width: 80vw;
}
.cityCountryNameName {
  font-size: xx-large;
  padding: 10px;
}
#basic-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#additional-data {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
#additional-data p {
  padding: 8px 10px;
  border: 1px solid var(--lightBlack);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#upper-bar {
  display: flex;
  margin: 10px;
  padding: 10px;
  gap: 30px;
}
.arrowContainer {
  display: flex;
  gap: 30px;
}
#data-bar {
  overflow-x: hidden;
  max-width: 90vw;
  display: flex;
  gap: 30px;
  align-items: center;
}
.leftArrow,
.rightArrow {
  border: 10px solid black;
  border-width: 13px 0 13px 21px;
  border-color: transparent transparent transparent var(--orange);
  border-radius: 5px;
}
.leftArrow {
  transform: rotate(180deg);
}
.leftArrow:hover,
.rightArrow:hover {
  border-color: transparent transparent transparent var(--darkOrange);
}

.dailyButton,
.hourlyButton,
#searchButton {
  background-color: var(--orange);
  border-radius: 8px;
  border-style: none;
  color: var(--black);
  cursor: pointer;
  font-size: 1rem;
  height: 30px;
  padding: 6px 12px;
  transition: color 100ms;
}

.dailyButton:hover,
.hourlyButton:hover,
#searchButton:hover,
.dailyButton:active,
.hourlyButton:active,
#searchButton:active {
  background-color: var(--darkOrange);
}
