html {
  width: 100%;
  height: 100%;
  font-family: "Times New Roman", Times, serif;
  --black: #000;
  --white: #fff;
  --orange: #ff9000;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 1%;
  min-height: 100%;
  background-color: var(--black);
  color: var(--white);
  display: grid;
  grid-template-rows: 3fr 1fr;
}
#main {
  grid-row: 1;
  border: 1px solid white;
}
#forecast {
  grid-row: 2;
  border: 1px solid white;
}
